<div class="diaries-sell-contents">
  <div class='diaries-sell-main'>
    <h1 class='greeting'>料理記録</h1>

    <div class="calendar-container">
      <%= custom_month_calendar do |date| %>
        <%= link_to diaries_by_date_path(date: date) do %>
          <%= content_tag :div, date.day, class: 'date' %>
          <% diaries = current_user.diaries.where(diary_day: date) %>
          <% diaries.each do |diary| %>
            <div class="diary">
              <p><%= diary.dish %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <%= form_with model: @diary, local: true do |f| %>
        <%= f.text_area :dish, placeholder: "夕食 : 〇〇（料理名）", class: "dish-input" %>
        <div class="input-date-wrap">
          <%= f.date_select :diary_day, use_month_numbers: true, prompt: { year: '年', month: '月', day: '日' }, start_year: 2022, end_year: Time.now.year + 10, class: "date-select" %>
        </div>
        <%= f.submit "記録する", class: "submit-button" %>
      <% end %>
      <%=link_to 'もどる', foods_path, class:"sell-btn" %>
    </div>
</div>
