<li class='foodlist'>
  <!-- 通常表示部分 -->
  <div id="food-view-<%= food.id %>" class='food-index'>
    <!-- フードの画像 -->
    <div class='food-img-content'>
      <%= image_tag food.image, class: "food-img" %>
    </div>
    <!-- フードの情報 -->
    <div class='food-info'>
      <div class='food-info1'>
        <div class='food-info2'>
          <%= food.food_name %>
        </div>
        <div class='food-info3'>
          <%= food.stock %><%= food.quantity.name %>
        </div>
      </div>
      <div class='item-info'>
        消費期限：<%= food.deadline %>
      </div>
    </div>
    <!-- 編集ボタン -->
    <div>
      <div>
      <%= link_to '管理', '#', class: "food-edit-btn", data: { food_id: food.id } %>
      </div>
      <!-- 削除ボタン -->
      <div>
      <%= link_to '削除', food_path(food.id), data: { turbo_method: :delete }, class: 'food-destroy' %>
      </div>
    </div>
  </div>

  <!-- 編集フォーム部分（デフォルトでは非表示） -->
  <div id="food-edit-<%= food.id %>" class='food-edit' style="display: none;">
    <%= form_with(model: food, local: true) do |form| %>
      <!-- フード名の編集フィールド -->
      <div class='field'>
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>
      <div class='field'>
        <%= form.label :category_id %>
        <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
      <div class='field'>
        <%= form.label :food_name %>
        <%= form.text_field :food_name %>
      </div>
      <!-- 在庫の編集フィールド -->
      <div class='field'>
        <%= form.label :stock %>
        <%= form.number_field :stock %>
      </div>
      <div class='field'>
        <%= form.label :quantity_id %>
        <%= form.collection_select(:quantity_id, Quantity.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
      <!-- 消費期限の編集フィールド -->
      <div class='field'>
        <%= form.label :deadline %>
        <%= form.date_field :deadline %>
      </div>
      <!-- 更新ボタン -->
      <div>
        <%= form.submit '更新', class: 'food-btn' %>
        <!-- キャンセルボタン -->
        <%= link_to 'キャンセル', '#', class: 'food-cancel-btn', data: { food_id: food.id } %>
      </div>
    <% end %>
  </div>
</li>