<h1>在庫編集ページ</h1>
<li class='foodlist'>
  <!-- 通常表示部分 -->
  <div id="food-view-<%= food.id %>" class='food-index'>
    <div class='food-img-content'>
      <%= image_tag food.image, class: "food-img" %>
    </div>
    <div class='food-info'>
      <div class='food-info1'>
        <div class='food-info2'>
          <%= food.food_name %>
        </div>
        <div class='food-info3'>
          <%= food.stock %><%= food.quantity.name %>
        </div>
      </div>
      <div class='item-info'>
        消費期限：<%= food.deadline %>
      </div>
    </div>
    <div>
      <%= link_to '管理', edit_food_path(food.id), class: "food-btn", data: { food_id: food.id } %>
      <%= link_to '削除', food_path(food.id), data: { turbo_method: :delete }, class:'food-destroy' %>
    </div>
  </div>

  <!-- 編集フォーム部分 -->
  <div id="food-edit-<%= food.id %>" class='food-edit' style="display: none;">
    <%= form_with(model: food, local: true) do |form| %>
      <div class='field'>
        <%= form.label :food_name %>
        <%= form.text_field :food_name %>
      </div>
      <div class='field'>
        <%= form.label :stock %>
        <%= form.number_field :stock %>
      </div>
      <div class='field'>
        <%= form.label :deadline %>
        <%= form.date_field :deadline %>
      </div>
      <div>
        <%= form.submit '変更', class: 'food-change' %>
        <%= link_to 'キャンセル', '#', class: 'food-cancel', data: { food_id: food.id } %>
      </div>
    <% end %>
  </div>
</li>