<div class='foods-sell-contents'>
  <div class="foods-sell-main">
    <%# 在庫一覧 %>
    <div class='foods-contents'>
      <h2 class='greeting'>在庫一覧</h2>
      <ul class='food-lists'>
        <% if @foods.present? %>
          <% @foods_by_category.each do |category, foods| %>
            <div class='food-list'>
              <h2 class='foodlistcategory'><%= category.name %></h2>
              <ul class='food'>
                <% foods.each do |food| %>
                  <%= render partial: 'food', locals: { food: food } %>
                <% end %>
              </ul>
            <div>
          <% end %>
        <% else %>
          <%= link_to new_food_path do %>
            <div>
              冷蔵庫の中身を登録してください。
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%# /在庫一覧 %>


    <%= link_to new_food_path do %>
      <div class='food-new'>
        <span class='food-new-text'>在庫を追加する</span>
        <%= image_tag 'kaden_reizouko.png', size: '185x50', class: "food-new-icon" %>
      </div>
    <% end %>

    <div class="purchase-btn">
      <%= link_to 'もどる', root_path, class: "back-btn" %>
    </div>
    <%= link_to(root_path, class: 'purchase-btn') do %>
      <%= image_tag 'logo.png', size: '185x50', class: "purchase-btn-icon" %>
    <% end %>
  </div>
</div>
